<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FormData Test</title>
    <script src="src/main/resources/static/jquery-3.3.1.js"></script>
    <script src="https://d3js.org/d3.v5.js"></script>
    <link href="src/main/resources/static/formData.css" />
</head>
<body>
<form action="upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <select name="algorithm" id="select">
        <option>Fci</option>
        <option>Pc</option>
    </select><br />
    <button type="submit">上传</button>
    <!--<input type="button" name="btn" id="btn" value="提交" />-->
</form>
</body>
</html>